<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Color</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car: ${cars}">
        <td th:text="${car.getBrand()}"/>
        <td th:text="${car.getModel()}"/>
        <td th:text="${car.getColor()}"/>
    </tr>
    </tbody>
</table>
</body>
</html>